
h1{
    font-size: 20px;
}
body{
    background-color: white;
}
#container{
    padding: 0px 12px 0px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: red;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}
.nav{
    list-style: none;
}
li{
    color: red;
    list-style: none;
}
a{
    color: black;
    font-weight: 800;
    text-decoration: none;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
}
input{
border: 2px solid black;
font-size: 16px;
width: 80vw;
height: 5vh;
}
#formcontainer{
    margin: 30vh 0vh 0vh 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 6px;
    font-size: 14px;
    border: 2px solid black ;
    font-weight: 600;
    background-color: white;
}
#container2{
    background-color: white;
    margin: 25vh 15vw 0vh 15vw;
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2% 2% 2% 2%;
}

#bar{
    background-color: white;
    border-top: 2px solid black;
}

#contact-detail{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% 20vw 15% 20vw;
}
#List{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bar1{
    width: 80%;
    height: 2px;
    border: 0.025ch ridge rgb(54, 54, 54);
    position: relative;
    top: 40vh;
    background-color: red;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 20%;
}

button:hover{
    background-color: rgb(54, 54, 54);
    color: red;
}
.nav:hover{
    color: blue;
}
